<div class="main-content">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#">
                    <img class="img" src="../assets/img/faces/favicon.png" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Universidad de Cuenca</h6>
                  <h4 class="card-title"> 🍃 A simple mongodb CRUD application developed in python with pymongo</h4>
                  <p class="card-description">
                      Este mini-proyecto fue desarrollado como parte de la materia Big Data, periodo oct-mar 2020
                  </p>
                </div>
              </div>
            </div>
      </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/santos.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev</h6>
            <h4 class="card-title">David Santos</h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/kevin.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev</h6>
            <h4 class="card-title">Kevin Maxi</h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/KevinMaxi98" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/faces/Hackerman.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev
                
            </h6>
            <h4 class="card-title">Miguel Macias
            </h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/TheWorstOne" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  