<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <img class="img" src="../assets/img/ucuenca2.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Universidad de Cuenca</h6>
            <h4 class="card-title"> ✨🐘 Aplicación Web con Angular-Material para un cluster multinodo en SPARK-HADOOP
            </h4>
            <p class="card-description">
              Proyecto final parte la materia Big Data, periodo oct-mar 2020
              <br><strong>Características</strong>
            </p>
            <p class="card-description" style="text-align: justify; padding-left: 20%;">
              <strong>Cluster:</strong> Apache Hadoop en 4 nodos, 1 master (Kali Linux) y 3 Master (Ubuntu)
              <br><strong>Consultas Big Data:</strong> Apache Spark
              <br><strong>Backend:</strong> Flask-Python-Pyspark
              <br><strong>Frontend:</strong> AngularJS - Material-Angular
            </p>
            <img class="img" src="../assets/img/logos2.png" />

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xl-3 col-sm-3 col-lg-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href="#"> -->
            <img class="img" src="../assets/img/faces/jonnathan.jpg" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev</h6>
            <h4 class="card-title">Jonnathan Campoberde</h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/JonnHenry" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 col-sm-3 col-lg-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href="#"> -->
            <img class="img" src="../assets/img/faces/freddy.jpg" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev</h6>
            <h4 class="card-title">Freddy Abad</h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/FreddieAbad" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 col-sm-3 col-lg-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href="#"> -->
            <img class="img" src="../assets/img/faces/Hackerman.jpg" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev

            </h6>
            <h4 class="card-title">Miguel Macias
            </h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/TheWorstOne" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 col-sm-3 col-lg-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href="#"> -->
            <img class="img" src="../assets/img/faces/moises.jpg" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Estudiante / Dev

            </h6>
            <h4 class="card-title">Moises Arévalo
            </h4>
            <p class="card-description">
            </p>
            <a href="https://github.com/" class="btn btn-primary btn-round" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>