<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.ucuenca.edu.ec/" target="_blank">
                        Ucuenca
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Hecho por los 
            <a href="/upgrade" >Estudiantes de la Universidad de Cuenca</a>
        </div>
    </div>
</footer>
