<div class="main-content">
    <div class="container-fluid">
        <!-- Consulta 1 -->
        <!-- Consulta 2 -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Conteo de retrasos por ruta:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#llegada" data-toggle="tab">
                                            <i class="material-icons">flight_land</i> Llegada
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#salida" data-toggle="tab">
                                            <i class="material-icons">flight_takeoff</i> Salida
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="llegada">
                                <mat-table [dataSource]="dataSource1" matSort>
                                    <!-- Flight Origin Column -->
                                    <ng-container matColumnDef="origen">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Origen
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.origin}} </mat-cell>
                                    </ng-container>
    
                                    <!-- Flight Dest Column -->
                                    <ng-container matColumnDef="destino">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Destino
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.dest}} </mat-cell>
                                    </ng-container>
    
                                    <!-- Delay Count Column -->
                                    <ng-container matColumnDef="conteo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Conteo
                                            de Retrasos </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.count}}
                                        </mat-cell>
                                    </ng-container>
    
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
    
                                <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                            </div>
    
                            <div class="tab-pane" id="salida">
                                <mat-table [dataSource]="dataSource2" matSort>
                                    <!-- Flight Origin Column -->
                                    <ng-container matColumnDef="origen">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Origen
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.origin}} </mat-cell>
                                    </ng-container>
                                    <!-- Flight Dest Column -->
                                    <ng-container matColumnDef="destino">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Destino
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.dest}} </mat-cell>
                                    </ng-container>
                                    <!-- Delay Count Column -->
                                    <ng-container matColumnDef="conteo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Conteo
                                            de Retrasos </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.count}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Consulta 3 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Total Retrasos por salida de ruta en especifico</h4>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione Origen</mat-label>
                                    <mat-select [(ngModel)]="selectedValueOrigin" name="food">
                                        <mat-option *ngFor="let food of puntos" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione Destino</mat-label>
                                    <mat-select [(ngModel)]="selectedValueDest" name="dest_select">
                                        <mat-option *ngFor="let food of puntos" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button type="submit" class="btn btn-primary btn-success col-md-12"
                                    (click)="getConsulta3(selectedValueOrigin,selectedValueDest)">Consultar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">flight_takeoff</i>
                                    </div>
                                    <p class="card-category">Retrasos por salida
                                    </p>
                                    <h3 class="card-title">{{consultaRutaEspecifico1.countLl}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">plus_one</i> Total Retrasos de ruta en especifico
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">flight_land</i>
                                    </div>
                                    <p class="card-category">Retrasos por llegada
                                    </p>
                                    <h3 class="card-title">{{consultaRutaEspecifico1.countSal}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">plus_one</i> Total Retrasos de ruta en especifico
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Consulta 4 -->
        <!-- Consulta 5 -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Conteo de retrasos por aerolinea:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#llegada45" data-toggle="tab">
                                            <i class="material-icons">flight_land</i> Llegada
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#salida45" data-toggle="tab">
                                            <i class="material-icons">flight_takeoff</i> Salida
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="llegada45">
                                <mat-table [dataSource]="dataSource4" matSort>
                                    <!-- Flight Dest Column -->
                                    <ng-container matColumnDef="aerolinea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Aerolinea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.aerolinea}} </mat-cell>
                                    </ng-container>
    
                                    <!-- Delay Count Column -->
                                    <ng-container matColumnDef="conteo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Conteo
                                            de Retrasos </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.count}}
                                        </mat-cell>
                                    </ng-container>
    
                                    <mat-header-row *matHeaderRowDef="displayedColumns45"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns45;">
                                    </mat-row>
                                </mat-table>
    
                                <mat-paginator #paginator4 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                            </div>
    
                            <div class="tab-pane" id="salida45">
                                <mat-table [dataSource]="dataSource5" matSort>
                                    <!-- Flight Origin Column -->
                                    <ng-container matColumnDef="aerolinea">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Aerolinea
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.aerolinea}} </mat-cell>
                                    </ng-container>
                                    <!-- Delay Count Column -->
                                    <ng-container matColumnDef="conteo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Conteo
                                            de Retrasos </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.count}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns45"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns45;">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #paginator5 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Consulta 6 y 7 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Aerolinea con menos y más retrasos de salida y llegada</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">done</i>
                                    </div>
                                    <p class="card-category">{{consultaAerolineaMenosRetraso1.aerolinea}}
                                    </p>
                                    <h3 class="card-title">{{consultaAerolineaMenosRetraso1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">flight_takeoff flight_land</i> Aerolinea con MENOS
                                        retrasos de salida y
                                        llegada
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">info_outline</i>
                                    </div>
                                    <p class="card-category">{{consultaAerolineaMasRetraso1.aerolinea}}
                                    </p>
                                    <h3 class="card-title">{{consultaAerolineaMasRetraso1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">flight_takeoff flight_land</i> Aerolinea con MAS
                                        retrasos de salida y
                                        llegada
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>