<div class="main-content">
    <div class="container-fluid">
        <!-- Consulta 1 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 1</h4>
                        <p class="card-category"> Total de Retrasos de llegada por ruta</p>
                    </div>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="font-weight: bold;">Origen</th>
                                <th scope="col" style="font-weight: bold;">Destino</th>
                                <th scope="col" style="font-weight: bold;">Conteo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consultaRutaLlegada of consultaRutasLlegada">
                                <td>{{consultaRutaLlegada.origin}}</td>
                                <td>{{consultaRutaLlegada.dest}}</td>
                                <td style="font-weight: bold;">{{consultaRutaLlegada.count}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Consulta 2 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 2</h4>
                        <p class="card-category"> Total de Retrasos de salida por ruta</p>
                    </div>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="font-weight: bold;">Origen</th>
                                <th scope="col" style="font-weight: bold;">Destino</th>
                                <th scope="col" style="font-weight: bold;">Conteo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consultaRutaDestino of consultaRutasDestino">
                                <td>{{consultaRutaDestino.origin}}</td>
                                <td>{{consultaRutaDestino.dest}}</td>
                                <td style="font-weight: bold;">{{consultaRutaDestino.count}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Consulta 3 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 3</h4>
                        <p class="card-category"> Total Retrasos por salida de ruta en especifico</p>

                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione Origen</mat-label>
                                    <mat-select [(ngModel)]="selectedValueOrigin" name="food">
                                        <mat-option *ngFor="let food of puntos" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione Destino</mat-label>
                                    <mat-select [(ngModel)]="selectedValueDest" name="dest_select">
                                        <mat-option *ngFor="let food of puntos" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button type="submit" class="btn btn-primary btn-success col-md-12"
                                    (click)="getConsulta3(selectedValueOrigin,selectedValueDest)">Consultar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">flight_takeoff</i>
                                    </div>
                                    <p class="card-category">Retrasos por salida
                                    </p>
                                    <h3 class="card-title">{{consultaRutaEspecifico1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">plus_one</i> Total Retrasos de ruta en especifico
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">flight_land</i>
                                    </div>
                                    <p class="card-category">Retrasos por llegada
                                    </p>
                                    <h3 class="card-title">{{consultaRutaEspecifico1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">plus_one</i> Total Retrasos de ruta en especifico
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Consulta 4 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 4</h4>
                        <p class="card-category"> Num retrasos por llegada por aerolinea</p>
                    </div>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="font-weight: bold;">Aerolinea</th>
                                <th scope="col" style="font-weight: bold;">Conteo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _consultaAerolineasLlegada of consultaAerolineasLlegada">
                                <td>{{_consultaAerolineasLlegada.aerolinea}}</td>
                                <td>{{_consultaAerolineasLlegada.count}}</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Consulta 5 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 5</h4>
                        <p class="card-category"> Num retrasos por salida por aerolinea</p>
                    </div>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="font-weight: bold;">Aerolinea</th>
                                <th scope="col" style="font-weight: bold;">Conteo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _consultaAerolineasLlegada of consultaAerolineasLlegada">
                                <td>{{_consultaAerolineasLlegada.aerolinea}}</td>
                                <td>{{_consultaAerolineasLlegada.count}}</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Consulta 6 y 7 -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-expansion">
                        <h4 class="card-title">Consulta 6 y 7</h4>
                        <p class="card-category"> Aerolinea con menos y más retrasos de salida y llegada</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">done</i>
                                    </div>
                                    <p class="card-category">{{consultaAerolineaMenosRetraso1.aerolinea}}
                                    </p>
                                    <h3 class="card-title">{{consultaAerolineaMenosRetraso1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">flight_takeoff flight_land</i> Aerolinea con MENOS
                                        retrasos de salida y
                                        llegada
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">info_outline</i>
                                    </div>
                                    <p class="card-category">{{consultaAerolineaMasRetraso1.aerolinea}}
                                    </p>
                                    <h3 class="card-title">{{consultaAerolineaMasRetraso1.count}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">flight_takeoff flight_land</i> Aerolinea con MAS
                                        retrasos de salida y
                                        llegada
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>