<div class="main-content">
    <div class="container-fluid">
        
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-primary">

                    <highcharts-chart
                        id="container" 
                        [Highcharts]="Highcharts"
                        [constructorType]="chartConstructor"
                        [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;">
                    </highcharts-chart>
                
                </div>
                <div class="card-body">
                    <h4 class="card-title text-primary">Vuelos no cancelados según el aeropuerto de salida</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Desde 1987 hasta 2008
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">

                    <highcharts-chart
                        id="container14" 
                        [Highcharts]="Highcharts"
                        [constructorType]="chartConstructor"
                        [options]="chartOptions14"
                        style="width: 100%; height: 400px; display: block;">
                    </highcharts-chart>
                
                </div>
                <div class="card-body">
                    <h4 class="card-title text-warning">Vuelos no cancelados segun aeropuertos de llegada </h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Desde 1987 hasta 2008
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>