/***************************************************************/
/* Card CSS*/

.card-product {
    border-bottom: 1.5px solid #eaeaea;
    margin-bottom: 25px;
    background-color: #EDEFF8;
    margin-left: 3px;
    max-width: 99.9%;
}

.card-expansion {
    background: #3E50B4 !important; /*Violet Blue*/
}


.card .card-header-danger .card-icon, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card .card-header-danger .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(67, 54, 244, 0.4);
}



/***************************************************************/
/* Input CSS*/
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }